@model RouteFinder.Models.Route
@using RouteFinder.Models
@{
    Layout = null;
    string gMaps = ConfigReaderDAL.ReadSetting("gmaps_key");
    var TotalTime = TimeSpan.FromMinutes(Model.TotalTravelTime);
    var TotalTimeFormat = TotalTime.ToString(@"h\:mm");

    string modeOfTransportationMessage = "";
    if(Model.ModeOfTransportation == "pedestrian")
    {
        modeOfTransportationMessage = "Walking";
    }
    else
    {
        modeOfTransportationMessage = "Biking";
    }

}

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polylines</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
                * element that contains the map. */
        #map {
            height: 70%;
            width: 100%;
        }
    </style>
    <script>
        var map;
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: @Html.Raw(ViewBag.MapCenter),
            mapTypeId: 'terrain'
            });
            // Holds the route coordinates in the correct format to be displayed on the map when used in flightPath
            var routeCoordinates = @Html.Raw(Model.RouteCoordinatesString);

            //Create a line from the routeCoordinates
            var routePath = new google.maps.Polyline({
                path: routeCoordinates,
                geodesic: true,
                strokeColor: '#5600FF',
                strokeOpacity: .5,
                strokeWeight: 3
            });

          routePath.setMap(map);
        }
        google.maps.event.addDomListener(window, 'load', init_map);

    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Prime Path", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="map"></div>
    <p>Total Distance @Math.Round(@Model.TotalDistance, 1) Miles</p>
    <p>Total Time @TotalTimeFormat</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 text-center"><h5>@modeOfTransportationMessage Directions</h5></div>
            <div class="col-sm-1 text-center"><h5>Distance</h5></div>
            <div class="col-sm-1 text-center"><h5>Time</h5></div>
        </div>       
    </div>
    <div class="container">
        @foreach (Maneuver m in Model.Maneuvers)
        {
            <div class="row">
                <div class="col-sm-5">@Html.Raw(m.Instruction)</div>
                <div class="col-sm-1">@string.Format("{0:0.00}", m.Distance) mi</div>
                <div class="col-sm-1">@((int)m.TravelTime) min</div>
            </div>
        }
    </div>
    <div class="container body-content">

        <script async defer
                src='https://maps.googleapis.com/maps/api/js?key=@gMaps&callback=initMap'>
        </script>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
